<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Текущая запись</title>
    <link rel="icon" href="/images/camera_logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <style th:insert="~{userPages/blocks/style :: style}"></style>
    <style th:insert="~{blocks/table-style :: table-style}"></style>
</head>
<body>
<header th:insert="~{blocks/login-for-user :: login-for-user}"></header>
<br>
<header th:insert="~{userPages/blocks/header :: header}"></header>
<div class="centered">
    <div th:if="${blocked}">
        <h3 th:text="'Вы записаны на фотосессию ' + ${order.date} + ' в ' + ${order.time}"></h3>
        <h3 th:text="'Локация: ' + ${order.location}"></h3>
        <h3 th:text="'Статус записи: ' + ${order.status}"></h3>

    </div>
    <div th:if="${!blocked}">

        <h3>Нет активной записи на фотосессию</h3>
    </div>
</div>
</body>
</html>