<div th:fragment="header">
    <header>
        <ul class="navbar">
            <li><a href="/admin">Главная</a></li>
            <li><a href="/admin/free-days">Добавить свободные дни</a></li>
            <li><a href="/admin/new-orders">Новые записи</a></li>
            <li><a href="/admin/active-orders">Активные записи</a></li>
            <li><a href="/admin/end-orders">Завершенные фотосессии</a></li>
            <li><a href="/admin/state">Статистика</a></li>
            <li><a href="/admin/messages">Сообщения</a></li>

        </ul>
    </header>
</div>