<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новые записи</title>
    <link rel="icon" href="/images/camera_logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <style th:insert="~{blocks/style :: style}"></style>
    <style th:insert="~{blocks/table-style :: table-style}"></style>
</head>
<body>
    <header th:insert="~{blocks/login-for-admin :: login-for-admin}"></header>
    <br>
    <header th:insert="~{adminPages/blocks/header :: header}"></header>
    <br>
    <div class="container">
        <div class="centered">
            <div th:if="${#lists.isEmpty(orders)}">
                <h1>Нет новых заявок</h1>
            </div>
            <div th:unless="${#lists.isEmpty(orders)}">

                <h2>Новые заявки</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Клиент</th>
                        <th>Номер телефона</th>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>Локация</th>
                        <th>Пожелания</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.fullName}"></td>
                        <td th:text="${order.phoneNumber}"></td>
                        <td th:text="${order.date}"></td>
                        <td th:text="${order.time}"></td>
                        <td th:text="${order.location}"></td>
                        <td th:text="${order.wishes}"></td>
                        <td>
                            <a th:href="'/admin/new-orders/' + ${order.id}">Подтвердить</a>
                            <a th:href="'/admin/new-orders/del/' + ${order.id}">Удалить</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>