<div th:fragment="header">
  <header>
    <ul class="navbar">
      <li><a href="/user">Главная</a></li>
      <li><a href="/user/gallery">Галерея</a></li>
      <li><a href="/user/price">Прайс</a></li>
      <li><a href="/user/online-record">Онлайн запись</a></li>
      <li><a href="/user/contacts">Контакты</a></li>
      <li><a href="/user/reviews">Отзывы</a></li>
      <li><a href="/user/active-order">Текущая запись</a></li>
      <li><a href="/user/history">История записей</a></li>
      <li><a href="/user/user-data">Личные данные</a></li>
    </ul>
  </header>
</div>